body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1{
  color: skyblue;
}

form{
  margin-bottom: 20px;
}

input,button{
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}